.button {
  margin: 10px;
  button {
    cursor: pointer;
    background-color: #005b96;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 118px;
    height: 32px;
    font-size: 14px;
  }
}
